/*font-family: 'Open Sans', sans-serif;*/

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
}

header{
	background-color: #2e64a1;
	padding: 1em 0;
}

header h1{
	color: white;
	font-size: 2.5em;
	font-style: italic;
	font-weight: 100;
	display: inline-block;
	position: relative;
	bottom: 0.8em;
	margin-left: 0.5em;
}

nav{
	background-color: #6da9ed;
	margin-bottom: 2em;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li{
	display: inline-block;
	width: 20%;
}
nav ul li a{
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 0.2em 0.4em;
	display: block;
}
nav ul li a:hover{
	background-color: rgba(0,0,0,0.3);
}

.home nav ul li a.home,
.nosotros nav ul li a.nosotros,
.servicios nav ul li a.servicios,
.galeria nav ul li a.galeria,
.contacto nav ul li a.contacto
{
	background: #4c76a5;
}

footer{
	background-color: #ccc;
	clear: both;
	color: #333;
	font-size: 0.7em;
	font-style: italic;
	text-align: center;
	padding: 3em 0;
	margin-top: 2em;
}

footer p{
	margin:0;
}

.holder{
	width: 960px;
	margin: 0 auto;
}

h2{
	color:#2e64a1;
	font-weight: 400;
	margin: 0 0 1em;
}
.left{
	float: left;
}

.right{
	float: right;
}

/* inicio pagina home*/

.homeimg{
	margin-bottom: 1.5em;
	clear: both;
	overflow: hidden;
}
.homeimg .cycle-overlay { 
    font-family: tahoma, arial;
    position: absolute; bottom: 0; width: 100%; z-index: 600;
    background: black; color: white; padding: 15px; opacity: .5;
}
.bienvenidos{
	width: 75%;
	padding-right: 2em;
}

.testimonios{
	width: 25%;
}
.testimonios .cycle-slideshow{
	/* background-color: #ddd; */
}
.bienvenidos, .testimonios{
	box-sizing: border-box; 
}

.bienvenidos p{
	font-size: 1.3em;
}

.testimonio{
	background-color: #ddd;
	padding: 1em;
}

.testimonio .cita{
	font-weight: bold;
	font-style: italic;
	font-size: 1.4em;
	display: block;
	margin-bottom: 12px;
	/*background-color: red;*/
}

.testimonio .autor{
	text-align: center;
	font-size: 0.7em;
	display: block;
	/*background-color: blue;*/

}
/* fin pagina home*/
/*incio pagina nosotros*/

.historia p{
	font-size: 0.8em;
}

.persona{
	width: 18%;
	float: left;
	margin-left: 2.25%;
	border:1px solid #ddd;
	border-radius: 0.25em;
	box-sizing: border-box;
}

.persona figure{
	margin:0.8em 0 1em;
	text-align: center;
}

.persona figure img{
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.persona h5, .persona h6{
	text-align: center;
	font-weight: normal;
	color: #2e64a1;
	margin: 0;
}

.persona h5{
	font-size: 0.9em;
}

.persona h6{
	font-size: 0.8em;
	margin-bottom: 1em;
	font-style: italic;
}

.persona p{
	font-size: 0.7em;
	margin: 0 1em 1em;
	color:#444;
}

.persona:first-child{
	margin-left:0;
}

/*
first-child
last-child
*/
/*fin pagina nosotros*/

/*inicio pagina servicios*/

.servicio{
	border:1px solid red;
	border-radius: 0.7em;
	margin: 1em 0;
	padding: 1em;
	overflow: hidden;
}

.servicio figure{
	display: inline-block;
}

.servicio figure img{
	border-radius: 0.8em;
}

.servicio .info{
	width: 75%;
}

.servicio .info h4{
	color: #2e64a1;
	font-size: 1.2em;
	font-style: italic;
	font-weight: 500;
	margin: 0 0 1em;
	border-bottom: 1px solid #2e64a1;
	padding-bottom: 0.5em;
}
.servicio .info p{
	font-size: 0.8em;
	line-height: 1.2em;
}
/*    even:par   odd: impar  */

.servicio:nth-child(even) figure{
	float: right;
	margin: 0 0 0 1em;
}

.servicio:nth-child(even) .info{
	float: left;
}


.servicio:nth-child(odd) figure{
	float: left;
	margin: 0 1em 0 0;
}

.servicio:nth-child(odd) .info{
	float: right;
}
/*fin pagina servicios*/

/* inicio pagina galeria*/

.galeria .foto{
	float: left;
	width: 18%;
	margin:1em 0 1em 2.5%;
	border:1px solid #ddd;
	padding: 0.3em;
	box-sizing: border-box;
}

.galeria .foto img{
	display: block;
	width: 100%;
}

.galeria .foto:nth-child(5n+1){
	margin-left:0;
	border-color: red;
}

/*fin pagina galeria*/

/*inicio pagina contacto*/

.columna{
	width: 50%;
	padding: 0.625em;
	box-sizing: border-box;
}

.columna.left{
	border-right: 1px solid red;
}

.columna.right p{
	font-size: 0.8em;
}

.columna.right ul li{
	font-size: 0.8em;
}

.formulario label{
	vertical-align: top;
	width: 16%;
	display: inline-block;
}

.formulario input,
.formulario textarea{
	background: #ddd;
	border-radius: 5px;
	border: 1px solid #999;
	font-size: 0.8em;
	padding: 0.4em 0.6em;
	width: 95%;
}

.formulario textarea{
	height: 10em;
	resize: none;
}

.formulario input[type="submit"]{
	background: #6da9ed;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	color: white;
	font-size: 1em;
	padding: 0.4em 2em;
	text-align: center;
	width: auto;
}

.formulario .acciones{
	text-align: center;
}



/*fin pagina contacto*/